/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #246bf2;
    --ifm-color-primary-dark: #0e5bec;
    --ifm-color-primary-darker: #0d56df;
    --ifm-color-primary-darkest: #0b46b8;
    --ifm-color-primary-light: #3e7df4;
    --ifm-color-primary-lighter: #4b86f4;
    --ifm-color-primary-lightest: #73a0f7;
}

html[data-theme='dark'] {
    background-color: rgba(0, 0, 0, 0.3);
}

img {
    max-width: 900px;
    display: block;
}
